<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <body>
        <div class="footer" id="toboot_footer">
            <div class="container">
                <h6 class="text-center">
                    <p>Cobbled Together By <a href="https://github.com/hoserdude">Tim Hobson</a>.</p>
                    <p>Concept Heavily Inspired By <a href="http://todomvc.com/">TodoMVC</a>.</p>
                    <p>Bootstrap styling by <a href="http://www.bootply.com/users/testazoid">Testazoid</a>.</p>
                    <p>OpenId integration inspired by <a href="https://github.com/rwinch/spring-boot-openid">Rob Winch</a></p>
                    <p>TodoMVC Angular + RequireJS credit to:
                        <a href="http://twitter.com/cburgdorf">Christoph Burgdorf</a>,
                        <a href="http://ericbidelman.com">Eric Bidelman</a>,
                        <a href="http://jacobmumm.com">Jacob Mumm</a>,
                        <a href="http://igorminar.com">Igor Minar</a> and
                        <a href="http://twitter.com/passy">Pascal Hartig</a>
                    </p>
                </h6>
            </div>
        </div>
    </body>
</html>